name: Release with Maven

on:
  workflow_dispatch:
  create:

jobs:
  # This workflow contains a single job called "build"
  release:
    # only run on the release branch
    if: github.ref == 'refs/heads/release'
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set up JDK
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        java-version: '24'
        distribution: 'temurin'

    - name: Set up Maven settings
      uses: s4u/maven-settings-action@894661b3ddae382f1ae8edbeab60987e08cf0788 # v4.0.0
      with:
        githubServer: false
        servers: |
          [{
            "id": "${env.MAVEN_REPO_SERVER_ID}",
            "username": "${env.MAVEN_REPO_SERVER_USERNAME}",
            "password": "${env.MAVEN_REPO_SERVER_PASSWORD}"
          }]

    # Runs a set of commands using the runners shell
    - name: Execute Release
      env:
        RELEASE_BRANCH_NAME: "release"

        GPG_ENABLED: "true"
        GPG_KEY_ID: ${{ secrets.GPG_ID }}
        GPG_KEY: ${{ secrets.GPG_KEY }}

        MAVEN_REPO_SERVER_ID: ${{ secrets.MVN_CENTRAL }}
        MAVEN_REPO_SERVER_USERNAME: ${{ secrets.MVN_CENTRAL_USER }}
        MAVEN_REPO_SERVER_PASSWORD: ${{ secrets.MVN_CENTRAL_PASSWORD }}
        MAVEN_ARGS: "-Dgpg.passphrase="

        GIT_RELEASE_BOT_NAME: "release-bot"
        GIT_RELEASE_BOT_EMAIL: "mwiede@gmx.de"

        GITHUB_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      run: ./.github/workflows/release.sh